1718886918_131___CSIE3005-01-Final_Project_submissions/
1718886918_131___CSIE3005-01-Final_Project_submissions.zip
submissions/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
model.pkl
training_data.pkl
result_count

__MACOSX
*.pyc

agents/__pycache__/call_player.cpython-38.pyc
agents/__pycache__/console_player.cpython-38.pyc
agents/__pycache__/random_player.cpython-38.pyc
game/__pycache__/game.cpython-38.pyc
game/__pycache__/players.cpython-38.pyc
game/__pycache__/visualize_utils.cpython-38.pyc
game/engine/__pycache__/__init__.cpython-38.pyc
game/engine/__pycache__/action_checker.cpython-38.pyc
game/engine/__pycache__/card.cpython-38.pyc
game/engine/__pycache__/data_encoder.cpython-38.pyc
game/engine/__pycache__/dealer.cpython-38.pyc
game/engine/__pycache__/deck.cpython-38.pyc
game/engine/__pycache__/game_evaluator.cpython-38.pyc
game/engine/__pycache__/hand_evaluator.cpython-38.pyc
game/engine/__pycache__/message_builder.cpython-38.pyc
game/engine/__pycache__/pay_info.cpython-38.pyc
game/engine/__pycache__/player.cpython-38.pyc
game/engine/__pycache__/poker_constants.cpython-38.pyc
game/engine/__pycache__/round_manager.cpython-38.pyc
game/engine/__pycache__/seats.cpython-38.pyc
game/engine/__pycache__/table.cpython-38.pyc
agents/__pycache__/call_player.cpython-38.pyc
agents/__pycache__/console_player.cpython-38.pyc
agents/__pycache__/random_player.cpython-38.pyc
game/__pycache__/game.cpython-38.pyc
game/__pycache__/players.cpython-38.pyc
game/__pycache__/visualize_utils.cpython-38.pyc
game/engine/__pycache__/__init__.cpython-38.pyc
game/engine/__pycache__/action_checker.cpython-38.pyc
game/engine/__pycache__/card.cpython-38.pyc
game/engine/__pycache__/data_encoder.cpython-38.pyc
game/engine/__pycache__/dealer.cpython-38.pyc
game/engine/__pycache__/deck.cpython-38.pyc
game/engine/__pycache__/game_evaluator.cpython-38.pyc
game/engine/__pycache__/hand_evaluator.cpython-38.pyc
game/engine/__pycache__/message_builder.cpython-38.pyc
game/engine/__pycache__/pay_info.cpython-38.pyc
game/engine/__pycache__/player.cpython-38.pyc
game/engine/__pycache__/poker_constants.cpython-38.pyc
game/engine/__pycache__/round_manager.cpython-38.pyc
game/engine/__pycache__/seats.cpython-38.pyc
game/engine/__pycache__/table.cpython-38.pyc
b10b01041
b06401036
b06401151
b07401120
b08209028
b08501002
b08705058
b09201009
b09202004
b09203001
b09208022
b09303016
b09303036
b09303113
b09401140
b09502074
b09508001
b09508007
b09602017
b09605039
b09701214
b09701248
b09705002
b09705029
b09705046
b09705048
b09901028
b09901142
b09902002
b09902013
b09902018
b09902057
b10201051
b10201054
b10202024
b10202053
b10202063
b10204022
b10401006
b10401008
b10502010
b10502042
b10502058
b10505011
b10505029
b10505044
b10505057
b10507008
b10705005
b10705013
b10705044
b10902001
b10902002
b10902003
b10902004
b10902005
b10902007
b10902009
b10902010
b10902012
b10902013
b10902014
b10902015
b10902017
b10902019
b10902020
b10902021
b10902022
b10902024
b10902025
b10902027
b10902030
b10902032
b10902033
b10902034
b10902035
b10902037
b10902039
b10902040
b10902041
b10902042
b10902043
b10902044
b10902045
b10902046
b10902047
b10902048
b10902050
b10902051
b10902052
b10902053
b10902054
b10902057
b10902059
b10902061
b10902063
b10902067
b10902068
b10902070
b10902071
b10902072
b10902073
b10902074
b10902075
b10902076
b10902077
b10902078
b10902079
b10902082
b10902085
b10902086
b10902087
b10902088
b10902089
b10902090
b10902091
b10902095
b10902100
b10902101
b10902102
b10902103
b10902104
b10902107
b10902108
b10902109
b10902110
b10902111
b10902112
b10902113
b10902114
b10902115
b10902116
b10902117
b10902118
b10902121
b10902122
b10902123
b10902124
b10902125
b10902126
b10902127
b10902129
b10902132
b10902133
b10902134
b10902135
b10902138
b10902139
b11505050
b11701242
b11705006
b11705008
b11705011
b11705022
b11705026
b11705031
b11705032
b11705043
b11705048
b11705051
b11705057
b11901016
b11902001
b11902006
b11902009
b11902010
b11902023
b11902029
b11902035
b11902037
b11902043
b11902044
b11902047
b11902048
b11902051
b11902057
b11902065
b11902067
b11902069
b11902072
b11902073
b11902078
b11902085
b11902087
b11902106
b11902107
b11902110
b11902111
b11902113
b11902114
b11902125
b11902127
b11902129
b11902132
b11902135
b11902138
b11902140
b11902143
b11902145
b11902155
b11902156
b11902158
b12901024
b12902098
b12902104
r12246005
r12922098
t12902103
t12902105
t12902155
agents/__pycache__/call_player.cpython-38.pyc
agents/__pycache__/console_player.cpython-38.pyc
agents/__pycache__/random_player.cpython-38.pyc
game/__pycache__/game.cpython-38.pyc
game/__pycache__/players.cpython-38.pyc
game/__pycache__/visualize_utils.cpython-38.pyc
game/engine/__pycache__/__init__.cpython-38.pyc
game/engine/__pycache__/action_checker.cpython-38.pyc
game/engine/__pycache__/card.cpython-38.pyc
game/engine/__pycache__/data_encoder.cpython-38.pyc
game/engine/__pycache__/dealer.cpython-38.pyc
game/engine/__pycache__/deck.cpython-38.pyc
game/engine/__pycache__/game_evaluator.cpython-38.pyc
game/engine/__pycache__/hand_evaluator.cpython-38.pyc
game/engine/__pycache__/message_builder.cpython-38.pyc
game/engine/__pycache__/pay_info.cpython-38.pyc
game/engine/__pycache__/player.cpython-38.pyc
game/engine/__pycache__/poker_constants.cpython-38.pyc
game/engine/__pycache__/round_manager.cpython-38.pyc
game/engine/__pycache__/seats.cpython-38.pyc
game/engine/__pycache__/table.cpython-38.pyc
1720107117_469___CSIE3005-01-Final_Project_-_Resubmit_submissions.zip
1720107117_469___CSIE3005-01-Final_Project_-_Resubmit_submissions/
re-submissions/
b09704038
b09902122
b10201026
b10902031
b10902049
b11902027
t12902205
2024-07-05T0849_人工智慧導論 (CSIE3005-01).xlsx
2024-07-05T0903_成績-人工智慧導論_(CSIE3005-01)_updated.csv
2024-07-05T0903_成績-人工智慧導論_(CSIE3005-01).csv
neural_network_model.h5
poker_data.json
2024-07-05T0903_成績-人工智慧導論_(CSIE3005-01)_updated_with_bonus.csv
